@{
    ViewData["Title"] = "Privacy Policy";
}

<h2>User Information</h2>
<p><b>Name: </b>@ViewBag.Name</p>
<p><b>Email: </b>@ViewBag.Email</p>
<p><b>Password: </b>@ViewBag.Password</p>
<p><b>Gender: </b>@ViewBag.Gender</p>
<p><b>City: </b>@ViewBag.City</p>